{% extends 'core/base.html' %}
{% block title %}Home{% endblock title %}
{% block main %}
<div class="container">
    <div class="row justify-content-around my-5">
        <div class="col-sm-8">
        <h3 class="text-white text-center">Welcome to Home page</h3>
        </div>
    </div>
</div>
{% endblock main %}